body {
  margin: 0px;
}
header {
  padding: 36px 228px 36px 150px;
  display: flex;
  justify-content: space-between;
}
.fondo {
}
.pagina {
  background: #ffffff;
  text-align: justify;
  margin: auto;
}
.rectangulo1 {
  display: flex;
  justify-content: space-between;
  padding-left: 150px;
  margin-bottom: 102px;
}
.logo {
  display: flex;
}
.virus {
  height: 63px;
  width: 63px;
  padding-right: 10px;
}
.covid-19 {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: bold;
  font-size: 19px;
  text-transform: uppercase;
  color: #035755;
  display: inline-block;
}
.optionsContainer {
}
.option {
  display: inline-block;
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 18px;
  line-height: 28px;
  color: #00402e;
  margin-right: 50px;
}

.contactButtonContainer {
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 22px;
  color: #ff383d;
  display: inline-block;
}
.button1 {
  width: 154px;
  height: 55px;
  border: 2px solid #fb4c47;
  box-sizing: border-box;
  border-radius: 46px;
}
.portada {
  /* background: green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text {
}
.titulorosa {
  font-family: 'Red Hat Display', sans-serif;
  color: #fa5652;
}
.tituto {
  font-weight: bold;
  font-size: 39px;
  font-family: 'Red Hat Display', sans-serif;
}
.info {
  font-weight: normal;
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 24px;
}
.button2 {
  width: 250px;
  height: 80px;
  background: #fb4c47;
  box-shadow: 0px 18px 100px rgba(0, 0, 0, 0.1);
  border-radius: 65px;
  font-family: 'Baloo Tamma 2', cursive;
  text-transform: capitalize;
  font-size: 24px;
}
.dibujo {
}
.image {
}
.rectangulo2 {
  display: flex;
  justify-content: space-between;
}
.whatiscovid19coronavirus {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.portada2 {
  padding-bottom: 30px;
  width: 288px;
  height: 107px;
  line-height: 124%;
}
.titulorosa2 {
  font-family: 'Red Hat Display', sans-serif;
  color: #fa5652;
  font-weight: bold;
  font-size: 29px;
}
.tituto2 {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: bold;
  font-size: 50px;
}
.info2 {
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 20px;
  text-transform: capitalize;
  color: #4b4f51;
}
.button3 {
  position: relative;
  width: 200px;
  height: 65px;
  background: rgba(250, 86, 82, 0.15);
  border-radius: 65px;
}
.learnmore {
  position: absolute;
  text-align: center;
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 600;
  font-size: 20px;
  text-transform: capitalize;
  color: #000000;
  left: 50px;
}
.dibujo2 {
}
.virusdeldibujo2 {
}

.cajadevirusrectangulo2 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
}
.virus1 {
}
.virus2 {
}
.rectangulo3 {
  display: flex;
  flex-direction: column;
}
.contagionWrapper {
  display: flex;
  justify-content: space-between;
}
.contagionItemsContainer {
  display: flex;
  justify-content: space-evenly;
  margin-right: 220px; /* TODO: Modify */
}
.contagionItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 65px 52px 78px 53px;
  /* margin-right: 30px; TODO: modificar */
  box-shadow: 0px 5px 80px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}
.titulorosa3 {
  font-family: 'Red Hat Display', sans-serif;
  color: #fa5652;
  font-size: 29px;
  text-align: center;
}
.titulo3 {
  font-weight: bold;
  font-size: 36px;
  /* line-height: 100%; */
  font-family: 'Red Hat Display', sans-serif;
  text-align: center;
}
.info3 {
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
  color: #4b4f51;
}

.infoVasoparte1 {
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 32px;
  text-align: center;
  text-transform: capitalize;
  color: #4b4f51;
}
.infoVasoparte2 {
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
  color: #035755;
}

.infomanosparte1 {
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  color: #4b4f51;
}
.infomanosparte2 {
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
  color: #035755;
}
.infoEstornudosparte1 {
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
  color: #4b4f51;
}
.infoEstornudosparte2 {
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
  color: #035755;
}
.rectangle {
  background: #fa5652;
  border-radius: 0px 0px 100px 100px;
}
.rectangle2 {
  box-shadow: 0px 35px 87px rgba(0, 0, 0, 0.11);
  border-radius: 10px;
}
.rectangulo4 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1791.06px;
  height: 1099.34px;
  /* left: 91px; */
  /* top: 20px; */
}
.covid-19-simptomps {
  flex-direction: row;
  justify-content: center;
  width: 289px;
  height: 107px;
  /* left: 724px; */
}
.titulorosa4 {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: bold;
  font-size: 29px;
  line-height: 124%;
  text-align: center;
  color: #fa5652;
}
.titulo4 {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 124%;
  text-align: center;
}
.info4 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 716px;
  height: 71px;
  /* left: 511px; */
  /* top: 138px; */
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 18px;
  line-height: 215%;
  text-align: center;
  text-transform: capitalize;
  color: #4b4f51;
}
.dibujo-de-la-niña2 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 1167.68px;
  height: 871.58px;
  /* left: 285.66px; */
  /* top: 206.1px; */
}
/*pa comitear*/
.cosa-transparente1 {
  display: flex;
  justify-self: flex-start;
  align-self: center;
  width: 220.36px;
  height: 148.16;
  /* left: 1551.76px; */
  /* top: 921.16px; */
  transform: matrix(0.99, -0.14, -0.14, -0.99, 0, 0);
}
.cosa-transparente2 {
  display: flex;
  justify-self: flex-end;
  align-self: center;
  width: 129.22px;
  height: 134.03px;
  /* top: 740px; */
  transform: rotate(-21.24deg);
}
.rectangulo5 {
  /* position: relative; */
  width: 2209px;
  height: 2651.88px;
  /* left: -136px; */
  /* top: 20px; */
}
.heading {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 650px;
  height: 209px;
  /* left: 771px; */
}
.covid19-what-should-we-do {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 473px;
  height: 107px;
  /* left: 89px; */
}
.titulorosa5 {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: bold;
  font-size: 29px;
  line-height: 124%;
  text-align: center;
  color: #fa5652;
}
.titulo5 {
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 124%;
  text-align: center;
}
.info5 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 650px;
  height: 71px;
  /* top: 138px; */
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 18px;
  line-height: 215%;
  text-align: center;
  text-transform: capitalize;
  color: #4b4f51;
}
.grupo1 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 1352.65px;
  height: 574.98px;
  /* left: 379px; */
  /* top: 281px; */
}
.niñaconmascara {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 555.65px;
  height: 574.98px;
  /* left: 804px; */
}
.infomasks {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 647px;
  height: 252px;
  /* top: 166.98px; */
}
.numero1 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 75px;
  height: 75px;
}
.num1 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 50px;
  height: 51px;
  /* left: 13px; */
  /* top: -20px; */
  font-family: 'Red Hat Display', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 145%;
  text-transform: capitalize;
  color: #fa5652;
}
.circulo1 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 75px;
  height: 75px;
  background: #fa5652;
  opacity: 0.15;
  border-radius: 100%;
}
.tituloNum1 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 352px;
  height: 69px;
  /* top: 3px; */
  /* left: 115px; */
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 47px;
  line-height: 147%;
  text-transform: capitalize;
  color: #035755;
}
.infoNum1 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 532px;
  height: 160px;
  /* left: 115px; */
  /* top: 92px; */
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 18px;
  line-height: 221%;
  text-transform: capitalize;
  color: #4b4f51;
}
.grupo2 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 1324px;
  height: 584.89px;
  /* left: 379px; */
  /* top: 840px; */
}
.niñalavandoselasmanos {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 564.88px;
  height: 584.89px;
}
.infowash {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 611px;
  height: 275.89px;
  /* top: 155px; */
  /* left: 713px; */
}
.numero2 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 75px;
  height: 75px;
}
.num2 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 50px;
  height: 51px;
  /* left: 9px; */
  /* top: -20px; */
  font-family: 'Red Hat Display', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 145%;
  text-transform: capitalize;
  color: #fa5652;
}
.circulo2 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 75px;
  height: 75px;
  background: #fa5652;
  opacity: 0.15;
  border-radius: 100%;
}
.tituloNum2 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 389px;
  height: 54px;
  /* top: 3px; */
  /* left: 123px; */
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 47px;
  line-height: 147%;
  text-transform: capitalize;
  color: #035755;
}
.infoNum2 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 488px;
  height: 187px;
  /* left: 123px; */
  /* top: 88.89px; */
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 18px;
  line-height: 221%;
  text-transform: capitalize;
  color: #4b4f51;
}
.grupo3 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 1441.67px;
  height: 567px;
  /* left: 380px; */
  /* top: 1410px; */
}
.niñausandopañoelo {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 573.21px;
  height: 567px;
  /* left: 876.37px; */
}
.infopañuelo {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 652px;
  height: 252px;
  /* top: 158px; */
}
.numero3 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 75px;
  height: 75px;
}
.num3 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 63px;
  height: 48px;
  /* left: 7px; */
  /* top: -20px; */
  font-family: 'Red Hat Display', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 145%;
  text-transform: capitalize;
  color: #fa5652;
}
.circulo3 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 75px;
  height: 75px;
  background: #fa5652;
  opacity: 0.15;
  border-radius: 100%;
}
.tituloNum3 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 360px;
  height: 52px;
  /* top: 3px; */
  /* left: 120px; */
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 47px;
  line-height: 147%;
  text-transform: capitalize;
  color: #035755;
}
.infoNum3 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 532px;
  height: 161px;
  /* left: 120px; */
  /* top: 91px; */
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 18px;
  line-height: 221%;
  text-transform: capitalize;
  color: #4b4f51;
}
.grupo4 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 1358px;
  height: 689.88px;
  /* left: 366.14px; */
  /* top: 1962px; */
}
.niñaevadiendocontacto {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 656.79px;
  height: 689.88px;
}
.infoavoid-contact {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 611px;
  height: 275.89px;
  /* top: 218px; */
  /* left: 713px; */
}
.numero4 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 75px;
  height: 75px;
}
.num4 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 66px;
  height: 65px;
  /* left: 5.4px; */
  /* top: -20px; */
  font-family: 'Red Hat Display', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 145%;
  text-transform: capitalize;
  color: #fa5652;
}
.circulo4 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 75px;
  height: 75px;
  background: #fa5652;
  opacity: 0.15;
  border-radius: 100%;
}
.tituloNum4 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 389px;
  height: 50px;
  /* top: 3px; */
  /* left: 113px; */
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 47px;
  line-height: 147%;
  text-transform: capitalize;
  color: #035755;
}
.infoNum4 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 488px;
  height: 187px;
  /* left: 113px; */
  /* top: 94.76px; */
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 18px;
  line-height: 221%;
  text-transform: capitalize;
  color: #4b4f51;
}
.virusrectangulo5 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 2209px;
  height: 1833px;
  /* top: 620px; */
}
.virusverduso {
  /* position: absolute; revisar el uso excesivo de position absolute */
  /* top: 1362px; */
  /* left: 1896px; */
}
.virusrosadusomedio {
  /* position: absolute; revisar el uso excesivo de position absolute */
  /* top: 0px; */
  /* left: 131px; */
}
.virusuverdusomedio {
  /* position: absolute; revisar el uso excesivo de position absolute */
  /* top: 1509px; */
  /* left: 1894px; */
}
.rectangulo6 {
  /* position: relative; */
  width: 1912.67px;
  height: 1284.88px;
  /* left: 183.92px; */
  /* top: 20px; */
}
.liverReports {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 1483px;
  height: 635px;
  /* left: 58.8px; */
}
.reporte {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 504px;
  height: 635px;
  /* left: 1037.08px; */
  /* top: 54px; */
}
.grupodepaises {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 394px;
  height: 529px;
  /* left: 55px; */
  /* top: 54px; */
}
.LasFlechitas {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 86px;
  height: 48.95px;
  /* left: 307px; */
  /* top: 9px; */
}
.linea {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 19.58px;
  height: 0px;
  /* left: 30.34px; */
  /* top: 20.55px; */
  border: 2.23px solid #dee1ed;
  transform: rotate(90deg);
}
.vectorD {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 7.34px;
  height: 14.69px;
  /* left: 62.18px; */
  /* top: 17.07px; */
}
.vectorI {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 7.34px;
  height: 14.69px;
  /* left: 15.88px; */
  /* top: 17.2px; */
}
.titulodelreporte {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 256px;
  height: 58px;
  /* top: -30px; */
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 40px;
  line-height: 58px;
  color: #035755;
}
.paises1 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 393px;
  height: 37px;
  /* top: 492px; */
}
.triangulo1 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 23px;
  height: 13.8px;
  /* left: 370px; */
  /* top: 12px; */
}
.numeros1 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 70px;
  height: 29px;
  /* left: 279px; */
  /* top: -15px; */
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  color: #035755;
}
.bandera1 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 49px;
  height: 35px;
}
.pais1 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 53px;
  height: 37px;
  /* left: 76px; */
  /* top: -25px; */
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 31px;
  line-height: 37px;
  color: #13615f;
}
.paises2 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 393px;
  height: 37px;
  /* top: 416px; */
}
.triangulo2 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 23px;
  height: 13.8px;
  /* left: 370px; */
  /* top: 12px; */
}
.numeros2 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 70px;
  height: 29px;
  /* left: 279px; */
  /* top: -15px; */
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  color: #035755;
}
.bandera2 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 49px;
  height: 35px;
}
.pais2 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 53px;
  height: 37px;
  /* left: 76px; */
  /* top: -25px; */
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 31px;
  line-height: 37px;
  color: #13615f;
}
.paises3 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 393px;
  height: 37px;
  /* top: 340px; */
}
.triangulo3 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 23px;
  height: 13.8px;
  /* left: 370px; */
  /* top: 12px; */
}
.numeros3 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 70px;
  height: 29px;
  /* left: 279px; */
  /* top: -15px; */
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  color: #035755;
}
.bandera3 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 49px;
  height: 35px;
}
.pais3 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 53px;
  height: 37px;
  /* left: 76px; */
  /* top: -25px; */
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 31px;
  line-height: 37px;
  color: #13615f;
}
.paises4 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 393px;
  height: 37px;
  /* top: 112px; */
}
.triangulo4 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 23px;
  height: 13.8px;
  /* left: 370px; */
  /* top: 12px; */
}
.numeros4 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 70px;
  height: 29px;
  /* left: 279px; */
  /* top: -15px; */
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  color: #035755;
}
.bandera4 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 49px;
  height: 35px;
}
.pais4 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 53px;
  height: 37px;
  /* left: 76px; */
  /* top: -25px; */
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 31px;
  line-height: 37px;
  color: #13615f;
}
.paises5 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 393px;
  height: 37px;
  /* top: 188px; */
}
.triangulo5 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 23px;
  height: 13.8px;
  /* left: 370px; */
  /* top: 12px; */
}
.numeros5 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 70px;
  height: 29px;
  /* left: 279px; */
  /* top: -15px; */
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  color: #035755;
}
.bandera5 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 49px;
  height: 35px;
}
.pais5 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 53px;
  height: 37px;
  /* left: 76px; */
  /* top: -25px; */
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 31px;
  line-height: 37px;
  color: #13615f;
}
.paises6 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 393px;
  height: 37px;
  /* top: 264px; */
}
.triangulo6 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 23px;
  height: 13.8px;
  /* left: 370px; */
  /* top: 12px; */
}
.numeros6 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 70px;
  height: 29px;
  /* left: 279px; */
  /* top: -15px; */
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  color: #035755;
}
.bandera6 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 49px;
  height: 35px;
}
.pais6 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 53px;
  height: 37px;
  /* left: 76px; */
  /* top: -25px; */
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 31px;
  line-height: 37px;
  color: #13615f;
}

.RectanguleDeLupayOtros {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 943px;
  height: 223px;
}
.Lupa {
  /* position: absolute; revisar el uso excesivo de position absolute */
  /* left: 867px; */
  background: #ffffff;
  box-shadow: 0px 7px 76px rgba(146, 53, 46, 0.18);
  border-radius: 4.16667px;
}
.Otros {
  /* position: absolute; revisar el uso excesivo de position absolute */
  /* left: -50px; */
  /* top: 20px; */
  background: #ffffff;
  box-shadow: 0px 5px 50px rgba(104, 33, 28, 0.1);
  border-radius: 5px;
}
.MapaMayor {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 1347.37px;
  height: 569.99px;
  /* top: 125px; */
}
.Maskgroup {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 997.08px;
  height: 569.99px;
}
.virus-transparente1 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 154.2px;
  height: 150.38px;
  /* left: 1207.08px; */
  /* top: 823px; */
}
.virus-transparente2 {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 373.83px;
  height: 383.32px;
  /* left: 1364.17px; */
  /* top: 897px; */
}
.rectangulo7 {
  /* position: absolute; no pudo cambiar absolute ,queda mal ya que queda dentro del rectangulo6 */
  width: 790px;
  height: 321px;
  /* left: 565px; */
  /* top: 7501px; */
}
.sucribete {
  /* position: absolute; revisar el uso excesivo de position absolute */
  /* left: 65px; */
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 64px;
  line-height: 77px;
  text-align: center;
  color: #0c6c44;
}
.buttom {
  /* position: absolute; revisar el uso excesivo de position absolute */
  width: 790px;
  height: 114px;
  /* top: 207px; */
}
.rectangulobuttom {
  width: 209px;
  height: 78px;
}
.buttomtext {
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}
.rectangulobuttom2 {
  background: #f44a45;
  border-radius: 157px;
}
.rectagulogmail {
  width: 790px;
  height: 114px;
}
.gmail {
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 22px;
  line-height: 26px;
  color: #758681;
}
.footerContainer {
  margin: 50px 230px;
  display: flex;
  justify-content: space-between;
}
.paginaswebs {
}
.imageContainer {
}
.centro {
}
.copyright {
  margin: 0px;
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 23px;
  line-height: 28px;
  color: #415e56;
  text-align: center;
}
.optionsFooter {
  display: flex;
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 23px;
  line-height: 28px;
  color: #00402e;
}
.optionfooter {
  margin-right: 20px;
}
