body {
  margin: 0px;
}
header {
  padding: 36px 228px 36px 150px;
  display: flex;
  justify-content: space-between;
}
.fondo {
}
.pagina {
  background: #ffffff;
  text-align: justify;
  margin: auto;
}
.rectangulo1 {
  display: flex;
  justify-content: space-between;
  padding-left: 150px;
  margin-bottom: 102px;
}
.logo {
  display: flex;
}
.virus {
  height: 63px;
  width: 63px;
  padding-right: 10px;
}
.covid-19 {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: bold;
  font-size: 19px;
  text-transform: uppercase;
  color: #035755;
  display: inline-block;
}
.optionsContainer {
}
.option {
  display: inline-block;
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 18px;
  line-height: 28px;
  color: #00402e;
  margin-right: 50px;
}

.contactButtonContainer {
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 22px;
  color: #ff383d;
  display: inline-block;
}
.button1 {
  width: 154px;
  height: 55px;
  border: 2px solid #fb4c47;
  box-sizing: border-box;
  border-radius: 46px;
}
.portada {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text {
}
.titulorosa {
  font-family: 'Red Hat Display', sans-serif;
  color: #fa5652;
}
.tituto {
  font-weight: bold;
  font-size: 39px;
  font-family: 'Red Hat Display', sans-serif;
}
.info {
  font-weight: normal;
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 24px;
}
.button2 {
  width: 250px;
  height: 80px;
  background: #fb4c47;
  box-shadow: 0px 18px 100px rgba(0, 0, 0, 0.1);
  border-radius: 65px;
  font-family: 'Baloo Tamma 2', cursive;
  text-transform: capitalize;
  font-size: 24px;
}
.dibujo {
}
.image {
}
.rectangulo2 {
  display: flex;
  justify-content: space-between;
}
.whatiscovid19coronavirus {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.portada2 {
  padding-bottom: 30px;
  width: 288px;
  height: 107px;
  line-height: 124%;
}
.titulorosa2 {
  font-family: 'Red Hat Display', sans-serif;
  color: #fa5652;
  font-weight: bold;
  font-size: 29px;
}
.tituto2 {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: bold;
  font-size: 50px;
}
.info2 {
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 20px;
  text-transform: capitalize;
  color: #4b4f51;
}
.button3 {
  position: relative;
  width: 200px;
  height: 65px;
  background: rgba(250, 86, 82, 0.15);
  border-radius: 65px;
}
.learnmore {
  position: absolute;
  text-align: center;
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 600;
  font-size: 20px;
  text-transform: capitalize;
  color: #000000;
  left: 50px;
}
.dibujo2 {
}
.virusdeldibujo2 {
}

.cajadevirusrectangulo2 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
}
.virus1 {
}
.virus2 {
}
.rectangulo3 {
  display: flex;
  flex-direction: column;
}
.contagionWrapper {
  display: flex;
  justify-content: space-between;
}
.contagionItemsContainer {
  display: flex;
  justify-content: space-evenly;
  margin-right: 220px;
}
.contagionItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 65px 52px 78px 53px;
  box-shadow: 0px 5px 80px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}
.titulorosa3 {
  font-family: 'Red Hat Display', sans-serif;
  color: #fa5652;
  font-size: 29px;
  text-align: center;
}
.titulo3 {
  font-weight: bold;
  font-size: 36px;
  font-family: 'Red Hat Display', sans-serif;
  text-align: center;
}
.info3 {
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
  color: #4b4f51;
}

.infoVasoparte1 {
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 32px;
  text-align: center;
  text-transform: capitalize;
  color: #4b4f51;
}
.infoVasoparte2 {
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
  color: #035755;
}

.infomanosparte1 {
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  color: #4b4f51;
}
.infomanosparte2 {
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
  color: #035755;
}
.infoEstornudosparte1 {
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
  color: #4b4f51;
}
.infoEstornudosparte2 {
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
  color: #035755;
}
.rectangle {
  background: #fa5652;
  border-radius: 0px 0px 100px 100px;
}
.rectangle2 {
  box-shadow: 0px 35px 87px rgba(0, 0, 0, 0.11);
  border-radius: 10px;
}
.rectangulo4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10% 0 0 0;
}
.covid-19-simptomps {
  flex-direction: row;
  justify-content: center;
}
.titulorosa4 {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: bold;
  font-size: 29px;
  text-align: center;
  color: #fa5652;
}
.titulo4 {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 124%;
  text-align: center;
}
.info4 {
  width: 716px;
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 18px;
  line-height: 215%;
  text-align: center;
  text-transform: capitalize;
  color: #4b4f51;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.dibujo-de-la-niña2 {
  order: 2;
  margin: 0px 50px 0px 100px;
  width: 1167.68px;
  height: 871.58px;
}
.cosa-transparente1 {
  order: 3;
  justify-self: flex-end;
  align-self: flex-end;
}
.cosa-transparente2 {
  order: 1;
  justify-self: flex-start;
  align-self: center;
  transform: rotate(-21.24deg);
}
.rectangulo5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10% 0 0 0;

}
.heading {

}
.covid19-what-should-we-do {

}
.titulorosa5 {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: bold;
  font-size: 29px;
  line-height: 124%;
  text-align: center;
  color: #fa5652;
}
.titulo5 {
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 124%;
  text-align: center;
}
.info5 {
  width: 650px;
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 18px;
  line-height: 215%;
  text-align: center;
  text-transform: capitalize;
  color: #4b4f51;
}
.grupo1 {
  display: flex;
  flex-direction: row-reverse;
}
.niñaconmascara {
  margin: 0 2.8%;
}
.infomasks {
  width: 647px;
  margin: 6% 4.5% 0 0;
}
.tituloNum1 {
  width: 352px;
  height: 69px;
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 47px;
  line-height: 147%;
  text-transform: capitalize;
  color: #035755;
}
.infoNum1 {
  width: 532px;
  height: 160px;
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 18px;
  line-height: 221%;
  text-transform: capitalize;
  color: #4b4f51;
}
.numero1 {
  display: flex;
  align-items: flex-start;
  justify-items: baseline;
  margin: 4.5% 2.9% 0 5.8%;
}
.num1 {
  width: 75px;
  height: 75px;
  color: #fa5652;
  border-radius: 100%;
  text-align: center;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 145%;
  text-transform: capitalize;
  background-color: hsla(1, 94%, 65%, 0.158);
}
.virusuverdusomedio {
  display: flex;
  align-self: flex-end;
  justify-self: flex-start;
}
.grupo2 {
  display: flex;
  flex-direction: row;
  margin: -1.5% 0 0 0;
}
.niñalavandoselasmanos {
  margin: 0 22% 0 -2.5%;
}
.numero2 {
  display: flex;
  align-items: flex-start;
  justify-items: baseline;
  margin: 8.5% 2.9% 0 -13%;
}
.num2 {
  width: 75px;
  height: 75px;
  color: #fa5652;
  border-radius: 100%;
  text-align: center;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 145%;
  text-transform: capitalize;
  background-color: hsla(1, 94%, 65%, 0.158);
}
.infowash {
  width: 611px;
  margin: 10% 4.5% 0 0%;
}
.tituloNum2 {
  width: 389px;
  height: 54px;
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 47px;
  line-height: 147%;
  text-transform: capitalize;
  color: #035755;
}
.infoNum2 {
  width: 488px;
  height: 187px;
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 18px;
  line-height: 221%;
  text-transform: capitalize;
  color: #4b4f51;
}
.grupo3 {
  display: flex;
  flex-direction: row-reverse;
}
.niñausandopañoelo {
  margin: 0 -6% 0 6.4%;
}
.infopañuelo {
  width: 652px;
  margin: 11% 4.5% 0 0%;
}
.tituloNum3 {
  width: 360px;
  height: 52px;
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 47px;
  line-height: 147%;
  text-transform: capitalize;
  color: #035755;
}
.infoNum3 {
  width: 532px;
  height: 161px;
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 18px;
  line-height: 221%;
  text-transform: capitalize;
  color: #4b4f51;
}
.numero3 {
  display: flex;
  align-items: flex-start;
  justify-items: baseline;
  margin: 9.5% 2.9% 0;
}
.num3 {
  width: 75px;
  height: 75px;
  color: #fa5652;
  border-radius: 100%;
  text-align: center;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 145%;
  text-transform: capitalize;
  background-color: hsla(1, 94%, 65%, 0.158);
}
.grupo4 {
  display: flex;
  flex-direction: row;
}
.niñaevadiendocontacto {
  margin: 0 4.6% 0 9.5%;
}
.numero4 {
  display: flex;
  align-items: flex-start;
  justify-items: baseline;
  margin: 9.5% 2.9% 0 -5.5%;
}
.num4 {
  width: 75px;
  height: 75px;
  color: #fa5652;
  border-radius: 100%;
  text-align: center;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 145%;
  text-transform: capitalize;
  background-color: hsla(1, 94%, 65%, 0.158);
}
.infoavoid-contact {
  width: 611px;
  margin: 0 6.5% 0 0;
  margin: 11% -1.5% 0 0;
}
.tituloNum4 {
  width: 389px;
  height: 50px;
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 47px;
  line-height: 147%;
  text-transform: capitalize;
  color: #035755;
}
.infoNum4 {
  width: 488px;
  height: 187px;
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 18px;
  line-height: 221%;
  text-transform: capitalize;
  color: #4b4f51;
}
.virusrectangulo5 {
  display: flex;
  align-self: flex-start;
  justify-self: flex-end;
  margin: 8% -8% 0 0;
}
.virusverduso {
align-self: flex-start;
margin: -40% 0 0 0;
}
.virusrosadusomedio {
  align-self: flex-end;
  margin: 0 0 0 -30%;
}
.rectangulo6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: -35% -20% 0 15%;
}
.liverReports {
  display: flex;
  justify-content: space-evenly;
}
.reporte {
  margin: -4.2% 0 0 0;
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 504px;
  height: 635px;
  background: linear-gradient(360deg, #FFFBFB -79.45%, #FDFDFD 105.35%);
  box-shadow: 0px 7px 95px rgba(0, 0, 0, 0.07);
  border-radius: 0px;
}
.grupodepaises {
  display: flex;
  flex-direction: column;
  width: 394px;
  height: 529px;
}
.grupodeFlechitasyTitulodelreporte{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: -10% 15% 0 0;
}
.LasFlechitas {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 -8% 0 11%;
  width: 86px;
  height: 48.95px;
  background: #FFFFFF;
  box-shadow: 0px 5px 50px rgba(87, 1, 0, 0.1);
  border-radius: 6.16667px;
}
.linea {
  order: 2;
  align-self: center;
  width: 19.58px;
  height: 0px;
  border: 2.23px solid #dee1ed;
  transform: rotate(90deg);
}
.vectorD {
  order: 3;
  align-self: center;
  width: 7.34px;
  height: 14.69px;
}
.vectorI {
  order: 1;
  align-self: center;
  width: 7.34px;
  height: 14.69px;
}
.titulodelreporte {
  justify-content: flex-end;
  align-self: center;
  width: 256px;
  height: 58px;
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 40px;
  line-height: 58px;
  color: #035755;
}
.paises1 {
  flex-direction: row;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  margin-bottom: 8%;
  order: 6;
}
.triangulo1 {
  order: 4;
}
.numeros1 {
  order: 3;
  margin: 0 -15% 0 0;
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  color: #035755;
}
.bandera1 {
  order: 1;
}
.pais1 {
  order: 2;
  margin: 0 20% 0 -15%;
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 31px;
  line-height: 37px;
  color: #13615f;
}
.paises2 {
  flex-direction: row;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  margin-bottom: 8%;
  order: 5;
}
.triangulo2 {
  order: 4;
}
.numeros2 {
  order: 3;
  margin: 0 -15% 0 4%;
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  color: #035755;
}
.bandera2 {
  order: 1;
}
.pais2 {
  order: 2;
  margin: 0 0 0 -15%;
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 31px;
  line-height: 37px;
  color: #13615f;
}
.paises3 {
  flex-direction: row;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  margin-bottom: 8%;
  order: 4;
}
.triangulo3 {
  order: 4;
}
.numeros3 {
  order: 3;
  margin: 0 -15% 0 15%;
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  color: #035755;
}
.bandera3 {
  order: 1;
}
.pais3 {
  order: 2;
  margin: 0 0 0 -15%;
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 31px;
  line-height: 37px;
  color: #13615f;
}
.paises4 {
  flex-direction: row;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  margin-bottom: 8%;
  order: 1;
}
.triangulo4 {
  order: 4;
}
.numeros4 {
  order: 3;
  margin: 0 -15% 0 17%;
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  color: #035755;
}
.bandera4 {
  order: 1;
}
.pais4 {
  order: 2;
  margin: 0 0 0 -15%;
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 31px;
  line-height: 37px;
  color: #13615f;
}
.paises5 {
  flex-direction: row;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  margin-bottom: 8%;
  order: 2;
}
.triangulo5 {
  order: 4;
}
.numeros5 {
  order: 3;
  margin: 0 -15% 0 18%;
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  color: #035755;
}
.bandera5 {
  order: 1;
}
.pais5 {
  order: 2;
  margin: 0 0 0 -15%;
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 31px;
  line-height: 37px;
  color: #13615f;
}
.paises6 {
  flex-direction: row;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  margin-bottom: 8%;
  order: 3;
}
.triangulo6 {
  order: 4;
}
.numeros6 {
  order: 3;
  margin: 0 -15% 0 16%;
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  color: #035755;
}
.bandera6 {
  order: 1;
}
.pais6 {
  order: 2;
  margin: 0 0 0 -15%;
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 31px;
  line-height: 37px;
  color: #13615f;
}

.RectanguleDeLupayOtros {
  order: 1;
  background-image: url(Mask\ Group.png);
  width: 997.08px;
  height: 569.99px;
  margin: 0 0 0 10.3%;
}
.Lupa {
  border-radius: 4.16667px;
  order: 1;
  margin: -15% 0 0 80%;
}
.Otros {
  border-radius: 5px;
  order: 2;
  margin: -23% 0 0 0;
}
.virus-transparente1 {
  width: 154.2px;
  height: 150.38px;
  margin: 50% 0 0 0;
}
.virus-transparente2 {
  width: 373.83px;
  height: 383.32px;
  margin: 80% 30% 0 -12%;
}
.rectangulo7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-end;
  width: 790px;
  margin: -28% 0 10% 25%;
}
.sucribete {
  justify-items: center;
  align-self: start;
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 64px;
  line-height: 77px;
  text-align: center;
  color: #0c6c44;
}
.buttom {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  
  width: 790px;
  height: 114px;
  background: #FFFFFF;
  box-shadow: 0px 8px 80px rgba(0, 0, 0, 0.06);
  border-radius: 57px;
}
.rectangulobuttom {
  margin: 0 2% 0 0;
  align-items: center;
  justify-items: flex-start;
  width: 209px;
  height: 78px;
  background-image: url(Rectangle\ 21665.png);
}
.buttomtext {
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
  font-size: 22px;
  color: #ffffff;
  text-align: center;
}
.gmail {
  margin: 0 0 0 5%;
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 22px;
  color: #758681;
}
.footerContainer {
  margin: 50px 230px;
  display: flex;
  justify-content: space-between;
}
.paginaswebs {
}
.imageContainer {
}
.centro {
}
.copyright {
  margin: 0px;
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 23px;
  line-height: 28px;
  color: #415e56;
  text-align: center;
}
.optionsFooter {
  display: flex;
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 23px;
  line-height: 28px;
  color: #00402e;
}
.optionfooter {
  margin-right: 20px;
}
